
    

.cosmic {    
    position:absolute;
    width: 600px;
    height: 400px;
    background-image: url("./img/bg.jpg");
    background-size:cover;
}

.cosmic img {
    position: absolute;
}

.planet1 {
    
    top: 21px; 
    left: 180px; 
    
}

.planet2 {
    left: 52px;
    top: 71px
}

.planet3 {

    top: 139px;
    left: 140px;
}

.asteroid{

    top: 70px;
    left: 438px;
}

.ufo{

    top: 300px;
    left: 113px;
}

.spaceship{

    top: 161px;
    left: 141px;
}

.superman{

    bottom: 0px;
    right: 31px;
}

#buttonback {
    width: 100px;
    position: relative;
    left: 47%;
    
}