@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Lacquer&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Covered+By+Your+Grace&family=Lacquer&family=Raleway:ital,wght@0,100..900;1,100..900&family=Staatliches&display=swap');

* {
    text-decoration: none;
}

body{
    background-image: url("./img/grunge-wall-texture\ \(1\).jpg");
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    
    
}

.title {
  display: flex;
  justify-content: center;
  font-size: clamp(20px, 6vw, 150px);
  color: hwb(0 22% 17%);
  font-family: "Lacquer", system-ui;
  font-weight: 100%;
  font-style: normal;
  
  
}

.header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 0.5vw; 
    margin: 5vw;
}

.header a {
    font-size: 25px;
    color: whitesmoke;
    background: #cc583e; 
    border: 2px solid black;
    border-radius: 15px;
    border-color: black;
    padding: 5px;
   
    
}


h4{
    font-size: 45px;
    
}

h5{
    font-size: 25px;
    margin-bottom: 10px;
}

h6{
    font-size: 20px;
    color: gold;
    margin-top: 0;
}

.poster-card > a img {
    width: 200px; 
    height: 280px;
    max-width: 190px; 
    
}


.poster-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    gap: 30px;
    
   
}

.poster-card > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    color: #cc583e;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;  
    text-align: center; 


}

.button {
    position: fixed; 
    top: 20px; 
    right: 20px; 
    
}

#buttonback{
   
    background-color: #cc583e;
    color: white;
    border-width: 1px;
    border-color: aliceblue;
    border-radius: 5px;
    display: flex;         
    justify-content: center;  
    align-items: center;      
    font-size: 2vw;           

}