body {
    background-color:rgb(204, 200, 240);
}

h1{
    text-align: center;
  }

form {
    width: 80%;
    margin: 0% auto; /* 2 значения 1е значение по вертикале 2е по горизонтали авто-одинаковые отступы */
    max-width: 400px;
    padding: 20px; /* Отступы со всех 4 сторон */
    border: 1px solid #0e0b0b;
    border-radius: 3%;
    /* Настройка тени:display: 
    1. По оси х (положительное значение - вправо)
    2. По оси у (положительное значение - вниз)
    3. Размытие тени (как быстро тень сливается с фотом) 
    */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}  