* {
    margin: 0;
    padding: 0;
}

body{   
    
    background-color: F5F5F5;
    margin: 0;    
}

.main {
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0;
    
    
   
}

.main-img{
    height:450px;
    background-size: cover;
    background-image: url("./img/shutterstock_1549382906.jpg");
    background-repeat: no-repeat;
      
}

.main-img h1 {
    position: relative;
    left: 110px; 
    top: 348px; 
    font-size: 48px; 
    color: #FFFFFF;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.title{
    position: relative;
    left: 140px;
    top:100px
    

}



.background-button{
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-solid {
    justify-content: center;
    size: 100px;
}

.gallery {
    
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    justify-content: center;
    background-color: F5F5F5;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 3fr));
    grid-auto-rows: auto;
    margin: 100px 140px 150px 140px;

}

.copyright-icon {
    font-size: 10px;
    margin: 0 0 8px 0;
}

.card-item{
    background-color: F5F5F5;
}

.photo{
    position: relative;
    height: 235px;
    background-size: cover
}

p {
    margin: 10px 0 0 0; 
}

.P0 {
    background-image: url("./img/1.jpg");
}

.P1 {
    background-image: url("./img/2.jpg");
}

.P2 {
    background-image: url("./img/5.jpg");
}

.P3 {
    background-image: url("./img/4.jpg");
}
.P4 {
    background-image: url("./img/5.jpg");
          
}
.P5 {
    background-image: url("./img/6.jpg");
          
}
.P6 {
    background-image: url("./img/7.jpg");
          
}
.P7 {
    background-image: url("./img/8.jpeg");
          
}
.P8 {
    background-image: url("./img/9.jpg");
          
}
.P9 {
    background-image: url("./img/10.jpg");
          
}
.P10 {
    background-image: url("./img/11.jpg");
          
}
.P11 {
    background-image: url("./img/12.jpg");
          
}
.P12 {
    background-image: url("./img/13.jpg");
          
}
.P13 {
    background-image: url("./img/14.jpg");
          
}
.P14 {
    background-image: url("./img/15.jpg");
          
}
.P15 {
    background-image: url("./img/16.jpg");
          
}


