body{
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
    margin: 0;   
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;      
    gap: 12px;
}

#red-button {
    height: 50px; 
    width: 150px; 
    background-color: #e64a19;       
    border: none;
    border-radius: 30px;
    cursor: pointer; 
    transition: all 0.3s ease; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
}

#red-button:hover {
    background-color: #fa2109; 
    transform: scale(1.05); 
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3); 
}

label {
    font-size: 35px;
}

#button1 {
    height: 50px; 
    width: 150px; 
    background-color: #19e65d;       
    border: none;
    border-radius: 30px;
    cursor: pointer; 
    transition: all 0.3s ease; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
}

#button1:hover {
    background-color: #19e65d;  
    transform: scale(1.05); 
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3); 
}

#button2 {
    height: 50px; 
    width: 150px; 
    background-color: #5b1fbd;       
    border: none;
    border-radius: 30px;
    cursor: pointer; 
    transition: all 0.3s ease; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
}

#button2:hover {
    background-color: #5b1fbd;  
    transform: scale(1.05); 
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3); 
}

#button3 {
    height: 50px; 
    width: 150px; 
    background-color: #bdad1f;       
    border: none;
    border-radius: 30px;
    cursor: pointer; 
    transition: all 0.3s ease; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
}

#button3:hover {
    background-color: #bdad1f;  
    transform: scale(1.05); 
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3); 
}


#button4 {
    height: 50px; 
    width: 150px; 
    background-color: #bdad1f;       
    border: none;
    border-radius: 30px;
    cursor: pointer; 
    transition: all 0.3s ease; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
}

#button4:hover {
    background-color: #bdad1f;  
    transform: scale(1.05); 
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3); 
}
